<<<<<<< HEAD

        html {
          font-family: sans-serif;
        }
        body {
          align-content: center;
          width: 50%;
          max-width: 800px;
          min-width: 480px;
          margin: 0 auto;
        }
        /* .lastResult {
          color: white;
          padding: 3px;
        } */

=======

html {
  font-family: sans-serif;
}
body {
  width: 50%;
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;
}
/* .lastResult {
  color: white;
  padding: 3px;
} */
>>>>>>> 1dc443175e343900f61388cb6a170bcbc76167b9
