/* I have a lot more CSS Styling I want to try today but I don't want to wait too long to upload this */
html {
  font-family: sans-serif;
}
body {
  width: 50%;
  max-width: 960px;
  min-width: 480px;
  margin: 0 auto;
}

.pageHeader {
  margin: 30px 30px;
  padding: 30px;
  text-align: center;
  border: solid;
  border: 5px;
  border-color: thistle;
  font-size: 35px;
}

p {
  text-align: center;
}

div.form, div.remainingGuesses, div.resultParas {
  text-align: center;
}

/* .resetButton {
  ........ not centering
} */
/* .guessField {
}
.guessSubmit {
}
.remainingResults {
}
.guesses {
}
.lastResult {
}
.lowOrHi {
} */
